.head1{
  background: linear-gradient(rgba(60, 0, 60, 0.45), rgba(0, 0, 60, 0.45)), url(images/business-career-confidence-776615.jpg);
  background-size: cover;
  transform: translateY(0%);

  overflow: hidden;
  min-width: 100%;
  z-index: -999;
  background-position: center;
  height: 80vh;
  display: flex;
  .container-banner{
    display: flex;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    h1{
      font-size: 80px;
      // justify-content: center;
      @media(max-width: 1110px){
        font-size: 60px;
        padding: 20px;
      }
      @media(max-width: 450px){
        font-size: 35px;
        padding: 15px;
      }
    }
  }
}
// MIXIN FOR THE SLANTED BOTTOM
.bottom-right{
  @include slanted-edge(bottom-right,100%,87%);
}


//MISSION
.our-mission{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: -25%;
  @media (max-width: 425px){
    margin-bottom: -40%;
  }

	.container-mission{
    background-image: url("./images/Asset 1.svg");
    background-size: cover;
    transform: translateY(-50%);
    @media (max-width: 400px){
      transform: translateY(-45%);
    }
    padding: 50vh 0 15vh 0;
    z-index: -9999;

    .text-mission{
      margin: 0 20vw;
      padding: 5vw 5vw 0 5vw;
      h4 {
        color: black;
        font-size: 2.5rem;
        margin: 0 !important;
        font-family: $font-secondary;
      }
      h4:after {
        content:"";
        display: inline-block;
        height: 0.5em;
        vertical-align: bottom;
        width: 35vw;
        margin-right: -100%;
        margin-left: 10px;
        border-top: 1px solid black;
      }

      .row4{
        display: flex;
        justify-content: space-around;
        ul{
          list-style-type: none;
          font-family: $font-primary;
          font-size: 1.2rem;
          margin: 0 !important;
        }
      }



      p{
        padding:0 0 0 5vw;
        font-size: 1.2rem;
        font-family: $font-primary;
        line-height: 2rem;
      }
    }
    @media(max-width: 765px){
      background-image: none;
      background-color: #F4F4F4;
      padding: 30vh 0 0 0 ;
      .text-mission{
        margin: 5vw;
      }
    }
	}
}

//how-it-works section
.how-it-works{
  .how-container{

    background-color: $grey;
    height: 660px;
    display: flex;
    .how-left{
      background-color: $blue;
      height: 660px;
      width: 70vw;
      border-top-right-radius: 110px;
      h4 {
        color: white;
        font-size: 2.5rem;
        font-family: $font-secondary;
        margin: 0 !important;
        padding: 100px 200px 5px 150px;
        @media (max-width: 1200px){
          padding: 80px 200px 30px 150px;

        }
      }
      h4:after {
        content:"";
        display: inline-block;
        height: 0.5em;
        vertical-align: bottom;
        width: 70%;
        margin-right: -100%;
        margin-left: 10px;
        border-top: 1px solid white;
      }

      .bullet-text-container{
        display: flex;
        height: auto;
        margin: 60px 80px 60px 150px;
        @media (max-width: 1200px){
          margin: 60px 80px 60px 100px;
        }
        .circle {
          height: 80px;
          width: 80px;
          background-color: $white;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          display: flex;
          p{
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            font-size: 1.5rem;
            margin: 0 !important;
            font-family: $font-primary;
          }
        }
        .rectangle{
          flex: 1;
          height: 80px;
          width: 30vw;
          padding: 10px 5vw;
          justify-content: flex-start;
          align-items: center;
          display: flex;
          p{
            color: $white;
            font-size: 1.2rem;
            margin: 0 !important;
            font-family: $font-primary;
            font-style: italic;
            line-height: 40px;
          }
        }
      }
    }
    .how-right{
      height: 660px;
      width: 30vw;
      padding: 120px 100px 80px 100px;
      .image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0px;
        img{
          max-width: 170px;
          width: auto;
        }
      }
    }
  }
  @media  (max-width: 800px){
    display: none;
  }
}

 // how it works for tablet and mobile
.howm-container{
//  display: flex;
  width: 100vw;
  height: auto;
  background-color: $blue;
  padding: 15vw  5vw;

  h3{
    margin: 0 !important;
    padding: 5vw;
    font-family: $font-secondary;
    font-size: 2.5rem;
    color: $white;
  }
  h3:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 30vw;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid white;
  }
  .row1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
    padding:5vw 0;
    img{
      width: 20vw;
    }
    p{
      margin: 0 !important;
      padding-left: 5vw;
      width: 60vw;
      font-family: $font-primary;
      font-style: italic;
      font-size: 15px;
      color: $white;
    }

  }
  @media  (min-width: 800px){
    display: none;
  }
}



// post-a-job and register sections

// headings
.post-job,.register-job{
  text-align: center;
  h3{
    font-size: 2.5rem;
  }

  .row3{
    @media (min-width: 800px){
          display: flex;
    }

    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding:5vw;

    .postjob-text,
    .postjob-image{
      p{
        text-align: justify;
        margin: 30px 0;
        font-family: $font-primary;
        color: $black;
      }
      flex-basis: 45%;
    }
  }

  .button1, .button2{
    font-size: 15px;
    border-radius: 50px;
    border: 2px solid $blue;
    color: $blue;
    background: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.37,1.06,.6,.97);
  }

  .button1:hover,.button2:hover{
    background: linear-gradient(24deg,#4E408A, #3498db, #1abc9c);
    color: $white;
  }
  .apple-ball{
    display: none;
  }

  .ball-cat{
    display: none;
  }
  .is-on{
    display: block;
    -webkit-animation: slide-down .6s ease-out;
    -moz-animation: slide-down .6s ease-out;
  }

  @-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(-20%); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
      0% { opacity: 0; -moz-transform: translateY(-20%); }
    100% { opacity: 1; -moz-transform: translateY(0); }
}

  p{
    color: $blue;
    font-family: $font-primary;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 1.2rem;
  }
  h3{
    color: $black;
    text-align:center;
    // margin-bottom: 10vh;
  }
  h3::after,h3::before {
     display: inline-block;
     content: "";
     border-top: 2px solid black;
     width: 22%;
     margin: 0 1rem;
     transform: translateY(-1rem);
     vertical-align: bottom;
  }
}

/* CONTACT FORM */
$blue: #30A5EE;
$grey: #DDDDDD;
#form-employer, #form-employee {
  background: white;
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 30px;
  box-shadow: 0px 0px 30px 0px $grey;
    .submit {
        text-align: center;
    }
}
.form-row {
  display: flex;
  flex-flow: row wrap;
  label {
    flex: 1;
    margin: 10px 10px;
    min-width: 250px;
        &.file {
            padding: 20px 10px;
            border: 2px solid $grey;
            border-radius: 20px;
            input {
                padding: 0;
            }
        }
    input, textarea {
      // border-radius: 40px;
      width: 100%;
            border: 2px, solid $grey;
      padding: 10px 15px;
    }
    textarea {
      // border-radius: 20px;
      padding: 15px;
    }
  }
}
input[type="file"]:focus {
    border-radius: 0px;
    border: none;
    box-shadow: none;
}
input:focus, textarea:focus {
  outline: none;
  border: 2px solid;
  border-image-source: linear-gradient(24deg,#4E408A, #3498db, #1abc9c);
   border-image-slice: 1;
   // border-radius: 40px;
  box-sizing: border-box;
  box-shadow: 0px 0px 40px -10px $grey;
}
input[type="submit"] {
    font-size: 15px;
  // border-radius: 50px;
    border: 2px solid $blue;
  color: $blue;
  background: white;
    padding: 10px 20px;
  cursor: pointer;
    transition: all 0.3s cubic-bezier(.37,1.06,.6,.97);
}
input[type="submit"]:hover {
    // border: 2px solid $blue;
  background:linear-gradient(24deg,#4E408A, #3498db, #1abc9c);
    color: white;
    border-image-source: linear-gradient(24deg,#4E408A, #3498db, #1abc9c);
     border-image-slice: 1;
}


// Testimonials

.testimonials-container{
  text-align: center;
  background:linear-gradient(24deg, #3498db, #1abc9c);
  padding:5vw;
  margin-top: 100px;

.row2{

  @media (min-width: 800px){
      display: flex;
  }

  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;

  h3{
    flex: 1;
    margin: 30px 0px;
    color: $white !important;
    font-size: 2.5rem;
  }

  h3::after,h3::before {
     display: inline-block;
     content: "";
     border-top: 2px solid $white;
     width: 21%;
     margin: 0 1rem;
     transform: translateY(-1rem);
     vertical-align: bottom;
  }
  .test{
    flex-basis: 30%;
    height: auto;
    background-color: $white;
    padding:40px;
    text-align: center;
    margin: 40px auto;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }

    .text{
      font-family: $font-secondary;
      text-align: justify;
      font-size: 16px;
      @media (max-width: 800px){
        font-size: 12px;
      }


    }
    .name{
      font-family: $font-secondary;
      font-weight: 600;
      font-size: 18px;
      @media (max-width: 800px){
        font-size: 14px;
      }

    }

    .company{
      font-family: $font-secondary;
      font-size: 16px;
      color: $blue;
      @media (max-width: 800px){
        font-size: 12px;
      }

    }
    @media (max-width:1300px){
      padding: 30px 20px;
    }
  }
}

}
