footer{
  .container{
    background-color: #000;
    padding: 50px 10%;

    .footer-left{
      align-items: center;

      h3{
        font-size: 30px;
      }

      form {
         text-align: center;
         max-width: 35vw;
        }
      .one-row {
         display: flex;
         margin-top: 40px;
         @media (max-width: 425px){
           display: block;
         }

       .one-half {
        flex: 1;
       }
       .first{
         margin-right: 20px;
         @media(max-width: 425px){
           margin-right: 0px;
         }
       }

       input{
       border-color: $blue;
       border-radius: 2.5vw;
       border-width: .15vw;
       padding: .5vw;
       margin-bottom: 12px;
       outline: none;
       max-width: 16vw;
       @media (max-width: 425px){
         max-width: 71vw;
       }
       }
     }
     textarea{
       padding: .5vw;
       border-color: $blue;
       border-radius: 1.5vw;
       border-width: .15vw;
       width: 100%;
       outline: none;
       height: 20vh;
     }
     .wpcf7-submit {
       background-color: $blue;
       color: #000;
       font-size: 1.5rem;
       border: none;
       border-radius: 40px;
       width: 8vw;
       font-family: $font-primary;
       padding: .5vw;
       outline: none;
       @media (max-width: 425px){
         width:20vw;
         padding: 1.5vw;
       }
     }
     @media (max-width: 425px){
           text-align: -webkit-center;
           input{
             max-width: 50vw;
           }
           h3{
             font-size: 24px;
           }
           form{
             max-width: 71vw;
           }
     }
  }
    .footer-right{
      padding-left: 20vw;
      justify-content: flex-end;
      h3{
        margin-bottom: 60px;
        font-size: 30px;
      }
      p{
        font-size: 18px;
        color: #fff;
        font-family: $font-primary;
        margin: 0 !important;
        letter-spacing: 1px;
      }
      @media (max-width: 768px){
        padding-left: 14vw;
      }
      @media (max-width: 425px){
      //  padding-left: 0px;
        h3{
          margin-top: 50px;
          margin-bottom: 30px;
          font-size: 24px;
        }
        p{
          font-size: 12px;
        }
      }
    }
  }
}
