#masthead{
	height: 80px;
	display: flex;
	padding-right: 50px;
	position: fixed;
	background: transparent;
	min-width: 100%;
}
.nav-left{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto 50px;
	p{
		color: #fff;
		font-size: 30px;
		margin: 0 !important;
		font-family: $font-secondary;
		font-weight: 700;
	}
}
.nav-right{
	flex: 1;
	float: left;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	a{
		text-decoration: none;
		margin: 0 30px;
		color: #fff;
		font-size: 20px;
		font-family: $font-secondary;
		font-weight: 700;
	}
}

// CHANGE BACKGROUND AND FONT COLOR WHEN SCROLLED DOWN
#masthead.scrolled{
	background-color: #fff;
	z-index: 9999999;
	.nav-left,.nav-right{
		p,a{
				color:black !important;
		}
	}
}
